<div id="mc-left"<% if @page.sidebars.empty? %> style="width:100%;"<% end %>>
	<div id="page-content"><%= @page.content %></div>
</div>
<% if !@page.sidebars.empty? %>	
<div id="mc-right">
	<% @page.sidebars.each do |sb| %>
	<div class="sb-block">
		<h1><%= sb.title %></h1>
		<!-- if ADMIN -->
		<p><%= link_to 'Edit', edit_sidebar_path(sb) %>&nbsp;&nbsp;<%= link_to 'Delete', sidebar_path(sb), :method => :delete, :confirm => "Are you sure you wish to delete this sidebar permanently?" %></p>
		<!-- end ADMIN -->
	</div>
	<% end %>
</div>
<% end %>
<div style="clear:both;"></div>