<!-- if ADMIN -->
<div class="ab-rounded_box">
	<div class="ab-rounded_top"><div></div></div>
	<div class="ab-rounded_content">
		<ul id="actionblock">
			<% links.each do |link| %>
			<li><%= link %></li>
			<% end %>
		</ul>
		<div style="clear:both;"></div>
	</div>
	<div class="ab-rounded_bottom"><div></div></div>
</div>
<!-- end ADMIN -->