<div id="fp-expose" style="height:324px;"> 
	<div id="fp-left" style="position:relative;"> 
      <a href="#" id="play" class="button" style="display:none"><%= image_tag("play.png", :alt => "" ) %></a> 
      <a href="#" id="pause" class="button" style="display:none"><%= image_tag("pause.png", :alt => "" ) %></a> 
      <%= image_tag("new/unionbig_semi.jpg", :alt => "", :class => 'fp-exposed') %>
	</div> 
   <div id="fp-right" style="height:324px;"> 
      <div id="fp-right-padding"> 
         <div class="fc-padding"> 
            <div class="fc-top"><div>&nbsp;</div></div> 
            <div class="frontcell"> 
               <div> 
                  <h1><%= link_to "The Rensselaer Union#{ image_tag('icons/disclosure_header_white.png', :alt => 'More...') }", '#' %></h1> 
                  <p>The Union has been the center of student life at RPI since 1890.  It remains one of the few student-managed unions in the United States.</p>
               </div> 
            </div> 
            <div class="fc-bot"><div>&nbsp;</div></div> 
         </div> 
         <div class="fc-padding"> 
            <div class="fc-top"><div>&nbsp;</div></div> 
            <div class="frontcell"> 
               <div> 
                  <h1 class="fp-cal">Building Hours</h1> 
                                                	<p><b>Monday - Thursday:</b>&nbsp;&nbsp;&nbsp;Open 24 Hours</p> 
                                                	<p><b>Friday:</b>&nbsp;&nbsp;&nbsp;Closes at 1 am</p> 
                                                	<p><b>Saturday - Sunday:</b>&nbsp;&nbsp;&nbsp;Opens at 8 am</p> 
                                             </div> 
            </div> 
            <div class="fc-bot"><div>&nbsp;</div></div> 
         </div> 
      </div> 
   </div> 
   <div style="clear:both;"></div> 
</div>