<div id="fp-expose" style="height:324px;"> 
	<div id="fp-left" style="position:relative;"> 
      <a href="#" id="play" class="button" style="display:none"><%= image_tag("play.png", :alt => "" ) %></a> 
      <a href="#" id="pause" class="button" style="display:none"><%= image_tag("pause.png", :alt => "" ) %></a> 
      <%= image_tag("new/unionbig_semi.jpg", :alt => "", :class => 'fp-exposed') %>
	</div> 
   <div id="fp-right" style="height:324px;"> 
      <div id="fp-right-padding"> 
         <div class="fc-padding"> 
            <div class="fc-top"><div>&nbsp;</div></div> 
            <div class="frontcell"> 
               <div> 
                  <h1>The Union at RPI</h1> 
                  <p>Both a building and a broad organization of over 175 recognized student organizations, the Rensselaer Union is vibrant and unique.</p> 
                  <p class="alignright"><a href="#">Read More</a></p> 
               </div> 
            </div> 
            <div class="fc-bot"><div>&nbsp;</div></div> 
         </div> 
         <div class="fc-padding"> 
            <div class="fc-top"><div>&nbsp;</div></div> 
            <div class="frontcell"> 
               <div> 
                  <h1 class="fp-cal">Building Hours</h1> 
                                                	<p><b>Monday - Thursday:</b>&nbsp;&nbsp;&nbsp;Open 24 Hours</p> 
                                                	<p><b>Friday:</b>&nbsp;&nbsp;&nbsp;Closes at 1 am</p> 
                                                	<p><b>Saturday - Sunday:</b>&nbsp;&nbsp;&nbsp;Opens at 8 am</p> 
                                             </div> 
            </div> 
            <div class="fc-bot"><div>&nbsp;</div></div> 
         </div> 
      </div> 
   </div> 
   <div style="clear:both;"></div> 
</div>